/Dominio_SGVAPV/target/
/AccesoDatos_SGVAPV/target/
Dominio_SGVAPV/src/main/resources/META-INF/persistence.xml
/DTOs_SGVAPV/target/
/SubsistemaInventario_SGVAPV/target/
/Presentacion_SGVAPV/target/
/SubsistemaVentas_SGVAPV/target/
/SubsistemaInicioSesion_SGVAPV/target/
*.jar
*.class
/SubsistemaReporteVentas_SGVAPV/target/
